body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../media/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-gap: 10px;
  text-align: center;
  color: white;
  padding: 300px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 0;
}

header h2 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
}

header h3 {
  font-weight: 400;
  font-size: 40px;
}

header a {
  padding: 16px 32px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
}

@media (max-width: 800px) {
  header {
    padding: 30px 0;
    text-align: center;
  }

  header h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 8px 16px;
    font-size: 10px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 170px;
  grid: 10px;
  color: #272044;
}

main img {
  max-width: 90%;
}

.main-section-text h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.main-section-text h2 {
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
}

.main-section-text p {
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../media/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 170px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-grid {
  margin: 0 30px;
}

@media (max-width: 800px) {
  footer {
    grid-template-columns: 1fr;
  }
}
