body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../media/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-gap: 10px;
  text-align: center;
  color: white;
  padding: 300px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 0;
}

header h2 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
}

header h3 {
  font-weight: 400;
  font-size: 40px;
}

header a {
  padding: 16px 32px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
}

@media (max-width: 800px) {
  header {
    padding: 30px 0;
    text-align: center;
  }

  header h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 8px 16px;
    font-size: 10px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 170px;
  grid: 10px;
  color: #272044;
}

main img {
  max-width: 90%;
}

.main-section-text h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.main-section-text h2 {
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
}

.main-section-text p {
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    padding: 60px;
  }

  main img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .main-section-text h1 {
    font-size: 20px;
    text-align: center;
  }
}

.locations {
  background-color: #f8f8f8;
}

.locations h1,
h2 {
  text-align: center;
  color: #272044;
  margin: 0;
}

.locations-h1 {
  font-weight: 700;
  font-size: 48px;
}

.locations-h2 {
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
}

.location-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0px 170px 100px 170px;
}

@media (max-width: 800px) {
  .locations-h1 {
    font-size: 20px;
    padding: 20px 0px;
  }

  .location-cards {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* push top + bottom apart */
  height: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 20px 20px 40px 0px #c6c6c633;
}

.card h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  padding-left: 32px;
  padding-top: 24px;
}

.card h2 {
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  padding-left: 32px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  color: #272044;
  padding: 8px 32px 24px 32px;
  text-align: left;
}

.card a {
  background-color: #462cb2;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #ffffff;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  aspect-ratio: 2/1;
}

.card-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.characters h1,
h2 {
  text-align: center;
  color: #272044;
  margin: 0;
}

.characters h1 {
  font-weight: 700;
  font-size: 48px;
}

.characters h2 {
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 20px;
  padding: 50px 170px 100px 170px;
}

.gallery a {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 800px) {
  .characters h1 {
    font-size: 20px;
  }

  .gallery {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../media/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 170px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-grid {
  margin: 0 30px;
}

@media (max-width: 800px) {
  footer {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}
